<div class="card">
    <span class="text-80 text-xl font-bold mb-4 block">Edit Customer Profile</span>
    <div class="grid">
        <div class="col-12 lg:col-2">
        </div>
        <div class="col-12 lg:col-10">
            <form [formGroup]="updateCustomerForm" (ngSubmit)="onSubmit()">
                <div class="grid formgrid p-fluid">
                    <div class="field mb-4 col-12">
                        <label for="id" class="font-medium text-900">ID <span
                                class="text-red-500 text-900">*</span></label>
                        <input id="id" type="text" [value]="id" pInputText required [disabled]="true"
                            class="opacity-800" />
                        <div *ngIf="f['id'].invalid && submitted && f['id'].errors" class="text-red-500 mt-2 block">
                            <div *ngIf="f['id'].errors['required']">
                                Id is required.
                            </div>
                            <div *ngIf="f['id'].errors['pattern']">
                                Input does not contain spaces
                            </div>
                        </div>
                    </div>
                    <div class="field mb-4 col-12">
                        <label for="name" class="font-medium text-900">Name <span
                                class="text-red-500 text-900">*</span></label>
                        <input id="name" type="text" formControlName="name" pInputText required />
                        <div *ngIf="f['name'].invalid && submitted && f['name'].errors" class="text-red-500 mt-2 block">
                            <div *ngIf="f['name'].errors['required']">
                                Name is required.
                            </div>
                            <div *ngIf="f['name'].errors['pattern']">
                                Input does not contain spaces
                            </div>
                        </div>
                    </div>
                    <div class="field mb-4 col-12">
                        <label for="phone_number" class="font-medium text-900">Phone Number <span
                                class="text-red-500 text-900">*</span></label>
                        <input id="phone_number" type="text" formControlName="phone_number" pInputText
                            (keypress)="keyPress($event)" required />
                        <div *ngIf="f['phone_number'].invalid && submitted && f['phone_number'].errors "
                            class="text-red-500 mt-2 block">
                            <div
                                *ngIf="f['phone_number'].errors['required'] && !f['phone_number'].hasError('minlength') ">
                                Phone number is required.
                            </div>
                            <div *ngIf="f['phone_number'].hasError('minlength')">
                                Phone number must be at least 10 numbers
                            </div>
                        </div>
                    </div>
                    <div class="field mb-4 col-12">
                        <label for="address" class="font-medium text-900">Address</label>
                        <textarea id="address" type="text" formControlName="address" pInputTextarea rows="5"
                            [autoResize]="true"></textarea>
                    </div>
                    <div class="field mb-4 col-7">
                        <label class="font-medium text-900">BirthDay</label>
                        <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" formControlName="date_of_birth"
                            [readonlyInput]="true">
                        </p-calendar>
                    </div>
                    <div class="field mb-4 col-12">
                        <label for="total_money" class="font-medium text-900">Total Money</label>
                        <p-inputNumber id="total_money" inputId="integeronly"
                            formControlName="total_money"></p-inputNumber>
                    </div>
                    <div class="col-12 mt-3">
                        <button type="submit" icon="pi pi-check" pButton pRipple label="Save" class="w-auto"></button>
                        <button type="text" icon="pi pi-times" pButton pRipple label="Cancel" class="w-auto ml-3"
                            (click)="navigateToListCustomer()"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>